@media only screen and (min-width: 1366px){
.topic{
	display: inline-block;
}
#div2 img:hover,#div3 img:hover ,#div4 img:hover ,#div5 img:hover ,#div6 img:hover{
		width: 600px;
		height: 500px;
	}
}
@media only screen and (max-width: 1366px){
	.container_button{
		width: 100%;
	}
	.glav_block{
		width: 100%;
	}
	.block{
		width: 20%;
	}
	.head{
		width: 100%;
	}
	.hr_1{
		width: 100%;
	}
	.top_menu{
		width: 100%;
	}
	.br{
		width: 100%;
	}
	.br_1{
		width: 100%;
	}
	.bottom{
		width: 100%;
	}
	#bloc_none{
		width: 100%;
	}
	#box1 , #box2 , #box3 , #box4, #box5{
		width: 100%;
	}
	.menu{
		width: 100%;
	}
	.bar{
		width: 100%;
	}
	.text{
		width: 100%;
	}
	.glav_text{
		width: 100%;
	}
	.hr_2{
		width: 100%;
	}
	.container_slider{
		width: 100%;
	}
	
}
@media only screen and (max-width: 1150px){
	
	.text{
		height: 750px;
	}
	#div2 img,#div3 img ,#div4 img ,#div5 img ,#div6 img{
		width: 450px;
		height: 350px;
	}
	.menu a{
		width: 16%;
		font-size: 1.3em;
		padding-top: 10px;
	}
	
}
@media only screen and (max-width: 1040px){
	
	.menu a{
		
		
	}
	#div2 img,#div3 img ,#div4 img ,#div5 img ,#div6 img{
		width: 400px;
		height: 300px;
	}
	.text{
		height: 750px;
	}
	.menu a{
		width: 16%;
		font-size: 1.3em;
		padding-top: 0px;
	}
	.cay_pod_menu  a{
    width: 15%;
}
}
	
@media only screen and (max-width: 930px){
	
	.lt_pod_text_left,.st_pod_text_left,.tt_pod_text_left,.pt-cay_pod_text_left,.cay_pod_text_left{
		width: 100%;
		margin: auto;
		text-align: center;
	}
	
	.lt_pod_text_right,.st_pod_text_right,.tt_pod_text_right,.pt-cay_pod_text_right,.cay_pod_text_right{
		width: 100%;
		
		text-align: center;
	}
	st_pod_text_right {
    font-size: 1em;
    text-align: justify;
}
	#div2 img,#div3 img ,#div4 img ,#div5 img ,#div6 img{
		width: 350px;
		height: 250px;
	}
	.text{
		height: 900px;
	}
	.menu{
		height: 100px;
	}
	.menu a{
		width: 30%;
	}
}
@media only screen and (max-width: 856px){

}
@media only screen and (max-width: 766px){

	.text{
		height: 1000px;
	}

}
@media only screen and (max-width: 630px){
	.text{
		height: 1100px;
	}
	.menu a{
	padding-top: -3px;
	}
	#div1 img{
	width: 420px;
	height: 350px;
	}

	.slider img{
		height: 400px;
	}
}
@media only screen and (max-width: 560px){
	.head img{
		height: 410px;
	}
	.menu{
		height: 130px;
	}
	.menu a{
		
		padding-top: 20px;
		width: 30%;

	}
	#div1 img{
	width: 420px;
	height: 350px;
	}
	.lt_pod_menu a{
		width: 30%;
		padding-top:  10px;
		padding-bottom: 3px;
	}
	.pt-cay_pod_menu a{
		width: 30%;
		padding-top:  10px;
		padding-bottom: 3px;
	}
	.cay_pod_menu a{
		width: 30%;
		padding-top:  10px;
		padding-bottom: 3px;
	}
	
	.tt_pod_menu a{
	width: 30%;
	padding-top:  10px;
	padding-bottom: 3px;
	}


}

@media only screen and (max-width: 516px){
	.menu a{
		font-size: 1.1em;
	}
	.text{
		height: 1160px;
	}
}
@media only screen and (max-width: 468px){
	.menu{
		height: 110px;
	}
	.text{
		height: 1260px;
	}
	.slider img{
		height: 300px;
	}
}
@media only screen and (max-width: 436px){
	.menu a{

		font-size: 0.8em;
	}
	#div1 img{
		width: 350px;
		height: 250px;
	}
	

}
@media only screen and (max-width: 412px){

	.text{
		height: 1380px;
	}
	#div2 img,#div3 img ,#div4 img ,#div5 img ,#div6 img{
		width: 300px;
		height: 200px;
	}

}
@media only screen and (max-width: 412px){

	#div1 img{
		width: 280px;
		height: 180px;
	}
	.slider img{
		height: 180px;
	}
}